In [170]:
import pandas as pd

In [171]:
data=pd.read_csv("/content/winequality-red.csv")

In [172]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [173]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [174]:
x=data.drop("quality",axis=1)

In [175]:
x.head()

   fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0            7.4              0.70         0.00  ...  3.51       0.56      9.4
1            7.8              0.88         0.00  ...  3.20       0.68      9.8
2            7.8              0.76         0.04  ...  3.26       0.65      9.8
3           11.2              0.28         0.56  ...  3.16       0.58      9.8
4            7.4              0.70         0.00  ...  3.51       0.56      9.4

[5 rows x 11 columns]

In [176]:
y=data.quality
y.head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [177]:
from sklearn.model_selection import train_test_split

In [178]:
train_data,test_data,train_label,test_label= train_test_split(x,y, test_size=0.2)

In [179]:
from tensorflow.keras import models
from tensorflow.keras import layers

In [180]:
train_data.shape[1]

11

In [181]:
model=models.Sequential()

In [182]:
model.add(layers.Dense(160,activation='relu',input_shape=(11,)))
model.add(layers.Dense(20,activation='relu'))
model.add(layers.Dense(1))

In [183]:
model.compile(optimizer='adam',loss="mae")

In [184]:
model.fit(train_data,train_label,epochs=70)

Epoch 1/70
40/40 [==============================] - 0s 2ms/step - loss: 1.1974
Epoch 2/70
40/40 [==============================] - 0s 2ms/step - loss: 0.6390
Epoch 3/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5927
Epoch 4/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5553
Epoch 5/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5501
Epoch 6/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5588
Epoch 7/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5919
Epoch 8/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5690
Epoch 9/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5776
Epoch 10/70
40/40 [==============================] - 0s 3ms/step - loss: 0.5234
Epoch 11/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5330
Epoch 12/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5514
Epoch 13/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5559
Epoch 14/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5285
Epoch 15/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5392
Epoch 16/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5373
Epoch 17/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5424
Epoch 18/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5518
Epoch 19/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5629
Epoch 20/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5150
Epoch 21/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5628
Epoch 22/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5065
Epoch 23/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5265
Epoch 24/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5896
Epoch 25/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5443
Epoch 26/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5433
Epoch 27/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5237
Epoch 28/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5288
Epoch 29/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5457
Epoch 30/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5132
Epoch 31/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5226
Epoch 32/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5304
Epoch 33/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5157
Epoch 34/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5045
Epoch 35/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5068
Epoch 36/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5060
Epoch 37/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5074
Epoch 38/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5080
Epoch 39/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5042
Epoch 40/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5374
Epoch 41/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5293
Epoch 42/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5073
Epoch 43/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5063
Epoch 44/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5092
Epoch 45/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5329
Epoch 46/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5141
Epoch 47/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5257
Epoch 48/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5163
Epoch 49/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5097
Epoch 50/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5040
Epoch 51/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5686
Epoch 52/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5172
Epoch 53/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4885
Epoch 54/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5048
Epoch 55/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4948
Epoch 56/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4970
Epoch 57/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4918
Epoch 58/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4954
Epoch 59/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5156
Epoch 60/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5062
Epoch 61/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5087
Epoch 62/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5016
Epoch 63/70
40/40 [==============================] - 0s 2ms/step - loss: 0.5441
Epoch 64/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4827
Epoch 65/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4945
Epoch 66/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4906
Epoch 67/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4902
Epoch 68/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4954
Epoch 69/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4926
Epoch 70/70
40/40 [==============================] - 0s 2ms/step - loss: 0.4900