In [360]:
import pandas as pd

In [361]:
data=pd.read_csv('/content/weight-height.csv')

In [362]:
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [363]:
data['Gender'].value_counts()

Male      5000
Female    5000
Name: Gender, dtype: int64

In [364]:
data['Gender']

0         Male
1         Male
2         Male
3         Male
4         Male
         ...
9995    Female
9996    Female
9997    Female
9998    Female
9999    Female
Name: Gender, Length: 10000, dtype: object

In [365]:
dummies =pd.get_dummies(data)

In [366]:
dummies

         Height      Weight  Gender_Female  Gender_Male
0     73.847017  241.893563              0            1
1     68.781904  162.310473              0            1
2     74.110105  212.740856              0            1
3     71.730978  220.042470              0            1
4     69.881796  206.349801              0            1
...         ...         ...            ...          ...
9995  66.172652  136.777454              1            0
9996  67.067155  170.867906              1            0
9997  63.867992  128.475319              1            0
9998  69.034243  163.852461              1            0
9999  61.944246  113.649103              1            0

[10000 rows x 4 columns]

In [367]:
y=dummies.Weight

In [368]:
x=dummies.drop('Weight', axis='columns')

In [369]:
x

         Height  Gender_Female  Gender_Male
0     73.847017              0            1
1     68.781904              0            1
2     74.110105              0            1
3     71.730978              0            1
4     69.881796              0            1
...         ...            ...          ...
9995  66.172652              1            0
9996  67.067155              1            0
9997  63.867992              1            0
9998  69.034243              1            0
9999  61.944246              1            0

[10000 rows x 3 columns]

In [370]:
from sklearn.model_selection import train_test_split

In [371]:
train_data,test_data,train_label,test_label= train_test_split(x,y,test_size=0.2)

In [372]:
from sklearn import preprocessing
tain_data=preprocessing.normalize(train_data)
test_data=preprocessing.normalize(test_data)

In [373]:
from tensorflow.keras import models
from tensorflow.keras.layers import *

In [374]:
model = models.Sequential()

In [375]:
model.add(Dense(16,activation='tanh',input_shape=(train_data.shape[1],)))
model.add(Dense(612,activation='tanh'))
model.add(Dense(1))

In [376]:
model.compile(optimizer='adam',loss='mae',metrics=['mae'])

In [377]:
model.fit(train_data,train_label,epochs=30)

Epoch 1/30
250/250 [==============================] - 1s 2ms/step - loss: 70.6331 - mae: 70.6331
Epoch 2/30
250/250 [==============================] - 1s 2ms/step - loss: 24.0186 - mae: 24.0186
Epoch 3/30
250/250 [==============================] - 1s 2ms/step - loss: 15.2030 - mae: 15.2030
Epoch 4/30
250/250 [==============================] - 1s 2ms/step - loss: 14.5930 - mae: 14.5930
Epoch 5/30
250/250 [==============================] - 1s 2ms/step - loss: 14.0424 - mae: 14.0424
Epoch 6/30
250/250 [==============================] - 1s 2ms/step - loss: 13.5217 - mae: 13.5217
Epoch 7/30
250/250 [==============================] - 1s 2ms/step - loss: 13.2066 - mae: 13.2066
Epoch 8/30
250/250 [==============================] - 1s 2ms/step - loss: 12.5560 - mae: 12.5560
Epoch 9/30
250/250 [==============================] - 1s 2ms/step - loss: 12.0260 - mae: 12.0260
Epoch 10/30
250/250 [==============================] - 1s 2ms/step - loss: 11.3938 - mae: 11.3938
Epoch 11/30
250/250 [==============================] - 1s 2ms/step - loss: 10.6009 - mae: 10.6009
Epoch 12/30
250/250 [==============================] - 1s 2ms/step - loss: 9.9579 - mae: 9.9579
Epoch 13/30
250/250 [==============================] - 1s 2ms/step - loss: 9.5622 - mae: 9.5622
Epoch 14/30
250/250 [==============================] - 1s 2ms/step - loss: 8.9381 - mae: 8.9381
Epoch 15/30
250/250 [==============================] - 1s 2ms/step - loss: 8.9424 - mae: 8.9424
Epoch 16/30
250/250 [==============================] - 1s 2ms/step - loss: 8.9242 - mae: 8.9242
Epoch 17/30
250/250 [==============================] - 1s 2ms/step - loss: 8.8452 - mae: 8.8452
Epoch 18/30
250/250 [==============================] - 1s 2ms/step - loss: 9.1068 - mae: 9.1068
Epoch 19/30
250/250 [==============================] - 1s 2ms/step - loss: 8.6846 - mae: 8.6846
Epoch 20/30
250/250 [==============================] - 1s 2ms/step - loss: 8.6781 - mae: 8.6781
Epoch 21/30
250/250 [==============================] - 1s 2ms/step - loss: 8.6175 - mae: 8.6175
Epoch 22/30
250/250 [==============================] - 1s 2ms/step - loss: 8.7712 - mae: 8.7712
Epoch 23/30
250/250 [==============================] - 1s 2ms/step - loss: 8.7286 - mae: 8.7286
Epoch 24/30
250/250 [==============================] - 1s 2ms/step - loss: 8.6758 - mae: 8.6758
Epoch 25/30
250/250 [==============================] - 1s 2ms/step - loss: 8.3997 - mae: 8.3997
Epoch 26/30
250/250 [==============================] - 1s 2ms/step - loss: 8.5924 - mae: 8.5924
Epoch 27/30
250/250 [==============================] - 1s 2ms/step - loss: 8.5452 - mae: 8.5452
Epoch 28/30
250/250 [==============================] - 1s 2ms/step - loss: 8.7058 - mae: 8.7058
Epoch 29/30
250/250 [==============================] - 1s 2ms/step - loss: 8.4916 - mae: 8.4916
Epoch 30/30
250/250 [==============================] - 1s 2ms/step - loss: 8.4690 - mae: 8.4690