In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("/content/HR_comma_sep.csv")

In [5]:
data.head()

   satisfaction_level  last_evaluation  ...  Department  salary
0                0.38             0.53  ...       sales     low
1                0.80             0.86  ...       sales  medium
2                0.11             0.88  ...       sales  medium
3                0.72             0.87  ...       sales     low
4                0.37             0.52  ...       sales     low

[5 rows x 10 columns]

In [6]:
data.Department.value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: Department, dtype: int64

In [7]:
dept_dummy=pd.get_dummies(data.Department)

In [8]:
dept_dummy.head()

   IT  RandD  accounting  hr  ...  product_mng  sales  support  technical
0   0      0           0   0  ...            0      1        0          0
1   0      0           0   0  ...            0      1        0          0
2   0      0           0   0  ...            0      1        0          0
3   0      0           0   0  ...            0      1        0          0
4   0      0           0   0  ...            0      1        0          0

[5 rows x 10 columns]

In [9]:
salary_dummy= pd.get_dummies(data.salary)
salary_dummy.head()

   high  low  medium
0     0    1       0
1     0    0       1
2     0    0       1
3     0    1       0
4     0    1       0

In [10]:
data.drop(['salary','Department'],axis=1,inplace=True)

In [11]:
data1 = pd.concat([salary_dummy,dept_dummy,data],axis=1)

In [12]:
x=data1.drop('left',axis=1)

In [13]:
x.head()

   high  low  medium  ...  time_spend_company  Work_accident  promotion_last_5years
0     0    1       0  ...                   3              0                      0
1     0    0       1  ...                   6              0                      0
2     0    0       1  ...                   4              0                      0
3     0    1       0  ...                   5              0                      0
4     0    1       0  ...                   3              0                      0

[5 rows x 20 columns]

In [14]:
y=data1.left

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_data,test_data,train_label,test_label= train_test_split(x,y,test_size=0.2,stratify=y)

In [17]:
from tensorflow.keras import models

In [18]:
from tensorflow.keras.layers import *

In [19]:
model= models.Sequential()

In [21]:
model.add(Dense(128,activation='relu',input_shape=(20,)))
model.add(Dense(64,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [22]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["acc"])

In [25]:
model.fit(train_data,train_label,epochs=50)

Epoch 1/50
375/375 [==============================] - 4s 4ms/step - loss: 0.5820 - acc: 0.7482
Epoch 2/50
375/375 [==============================] - 1s 3ms/step - loss: 0.4690 - acc: 0.7774
Epoch 3/50
375/375 [==============================] - 1s 4ms/step - loss: 0.4193 - acc: 0.8022
Epoch 4/50
375/375 [==============================] - 1s 4ms/step - loss: 0.3649 - acc: 0.8344
Epoch 5/50
375/375 [==============================] - 1s 3ms/step - loss: 0.3687 - acc: 0.8297
Epoch 6/50
375/375 [==============================] - 1s 3ms/step - loss: 0.3294 - acc: 0.8542
Epoch 7/50
375/375 [==============================] - 1s 3ms/step - loss: 0.3079 - acc: 0.8676
Epoch 8/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2951 - acc: 0.8778
Epoch 9/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2956 - acc: 0.8785
Epoch 10/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2828 - acc: 0.8851
Epoch 11/50
375/375 [==============================] - 1s 4ms/step - loss: 0.2825 - acc: 0.8838
Epoch 12/50
375/375 [==============================] - 1s 4ms/step - loss: 0.2684 - acc: 0.8935
Epoch 13/50
375/375 [==============================] - 1s 4ms/step - loss: 0.2787 - acc: 0.8862
Epoch 14/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2655 - acc: 0.8958
Epoch 15/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2627 - acc: 0.8968
Epoch 16/50
375/375 [==============================] - 1s 4ms/step - loss: 0.2545 - acc: 0.8999
Epoch 17/50
375/375 [==============================] - 1s 4ms/step - loss: 0.2526 - acc: 0.9031
Epoch 18/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2530 - acc: 0.9022
Epoch 19/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2478 - acc: 0.9046
Epoch 20/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2418 - acc: 0.9073
Epoch 21/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2327 - acc: 0.9144
Epoch 22/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2239 - acc: 0.9171
Epoch 23/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2368 - acc: 0.9074
Epoch 24/50
375/375 [==============================] - 1s 4ms/step - loss: 0.2227 - acc: 0.9165
Epoch 25/50
375/375 [==============================] - 1s 4ms/step - loss: 0.2139 - acc: 0.9230
Epoch 26/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2194 - acc: 0.9162
Epoch 27/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2151 - acc: 0.9204
Epoch 28/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2141 - acc: 0.9204
Epoch 29/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2116 - acc: 0.9227
Epoch 30/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2057 - acc: 0.9245
Epoch 31/50
375/375 [==============================] - 1s 4ms/step - loss: 0.2087 - acc: 0.9229
Epoch 32/50
375/375 [==============================] - 1s 3ms/step - loss: 0.2036 - acc: 0.9241
Epoch 33/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1992 - acc: 0.9272
Epoch 34/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1999 - acc: 0.9273
Epoch 35/50
375/375 [==============================] - 1s 4ms/step - loss: 0.1978 - acc: 0.9251
Epoch 36/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1880 - acc: 0.9317
Epoch 37/50
375/375 [==============================] - 1s 4ms/step - loss: 0.1927 - acc: 0.9306
Epoch 38/50
375/375 [==============================] - 1s 4ms/step - loss: 0.1830 - acc: 0.9338
Epoch 39/50
375/375 [==============================] - 1s 4ms/step - loss: 0.1859 - acc: 0.9325
Epoch 40/50
375/375 [==============================] - 1s 4ms/step - loss: 0.1865 - acc: 0.9292
Epoch 41/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1799 - acc: 0.9356
Epoch 42/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1778 - acc: 0.9357
Epoch 43/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1866 - acc: 0.9322
Epoch 44/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1812 - acc: 0.9326
Epoch 45/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1770 - acc: 0.9345
Epoch 46/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1727 - acc: 0.9382
Epoch 47/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1797 - acc: 0.9332
Epoch 48/50
375/375 [==============================] - 1s 4ms/step - loss: 0.1807 - acc: 0.9344
Epoch 49/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1720 - acc: 0.9385
Epoch 50/50
375/375 [==============================] - 1s 3ms/step - loss: 0.1756 - acc: 0.9376